.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: 2px solid rgb(60, 60, 60);
    transition-duration: 0.3s;
  }
  .bin-bottom {
    width: 10px;
  }
  .bin-top {
    width: 13px;
    transform-origin: right;
    transition-duration: 0.3s;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  .bin-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .bin-button:active {
    transform: scale(0.9);
  }
.select-button{
 padding-inline: 0.5rem;
 padding-block: 0.1rem;
 border-radius: 3px;
 background-color: rgb(143, 143, 143);
}
.selected{
  background-color: #4aba7c;
  color: white;
}
