.menu {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    /* width: 20vw; */
    display: flex;
    list-style: none;
    /* background-color: #6358587d; */
    border-radius: 16px;
    /* border: 1px solid #ffffff; */
    

  }
  .drop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;

  }
  
  .menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .menu .link {
    position: relative;
    width: 15vw;
    border: 2px solid #17191c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    /* padding: 12px px; */
    padding-block: 0.4rem;
    padding-inline: 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17191c;
    color: #000000;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  
  .menu .link svg {
    width: 14px;
    height: 14px;
    fill: #ffffff;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .item {
    position: relative;
    /* background-color: #0a3cff; */
  }
  
  .menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #17191c;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  
  .menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border:2px solid #17191c;
    background-color: #000000 ;
    /* border-radius: 16px; */
  }
  
  .menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 0 0;
  }
  
  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
  }
  
  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    background: none;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    color: #ffffff;

  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #17191c;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #ffffff;
  }
  button{
    border: none;
  }
