.Header{
    width: 98vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoSct{
    display: flex;
    width: 50vw;
    height: 13vh;
    align-items: center;
    padding-left: 3rem;
    margin-right: 8rem;}
.logo{
    object-fit: contain;
    height: 3.1rem;
}
.AvatarSctn{
    
    padding-right: 1rem;

}
.avtrInner{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(186, 186, 186);
    font-size:0.8rem;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.navlinks{
    text-decoration: none;
    color:rgb(122, 122, 122)

}
.navlinks:hover{
    color:rgb(181, 181, 181);
}
.navlinks:active{
    color:rgb(77, 77, 77);
}
.drawerInner{
    width: 20vw;
}

.headerOptions{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.avtrBtn{
    background: transparent;
}
.proAvtr{
    width: 100;
    height:4.5rem;
    border-bottom: 1px solid rgba(81, 81, 81, 0.297);
    display: flex;
    justify-content: flex-start;
    align-items: center;
padding-inline: 0.9rem;
gap: 1rem;
}
.email{
    font-size: 0.7rem;
}
.proAvtrinner{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.proOpt{
    padding-block: 1rem;
    display: flex;
    justify-content: center;
}
.innerOpt{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.pos{
    background-color:   #f2b10e;
    color: white;
    height: 6vh;
    width: 7vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-right: 0.6rem;
    font-size: 1rem;
}
.posImage{
    object-fit: contain;
    height:1.5rem;
}
.rank{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}