textarea{
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2B2E31;
    text-align: center;
    color: aliceblue;
    overflow: hidden;
    width: 50vw;
    outline: none;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
}
textarea::placeholder{
    color: #fff;
    font-size: 1.5rem;
}
.postForm{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 1rem;
}

.top{
    display: flex;
    /* gap: 3rem; */
    justify-content: space-between;
    /* margin-bottom: 2rem; */
}
.postQuestions{
    /* width:80vh; */
    height: 87vh;
    
}
.postmain{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 70vh;
    margin-top: 4rem;
    
}
#snapShot {
    border:none;
    font-size: 1rem;
    /* padding-top: 0.5rem; */
}
#snapShot::placeholder{
    color: #606871;
    font-size: 1rem;
}





.ansOption{
    display: flex;
    height: 3rem;
    border: 2px solid #2F353C;
    align-items:center ;
    justify-content: space-between;
    padding-inline: 1rem;
    gap: 0.5rem;
    background-color: #0F0F0F;
    border-radius: 5px;
    margin-top: 1rem;

}
.ansSelect{
    background: none;
    color: rgb(252, 252, 252);
    border: 2px solid #2F353C;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    
}
.ansSelect:hover{
    background-color: #2b2e3176;
}
.ansSelect:active{
    background-color: #2b2e31;
}
.ansInput{
    width:100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    color: #fff ;
    font-size: 1rem;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    

  }
  .preview{
   padding-inline: 1rem;
   padding-block: 0.5rem;
   border-radius: 5px;
   background-color: #2D353E;
   color: white;
   text-decoration: none;
   font-size: 0.84rem;
   font-weight: lighter;

  }
  .submit{
   padding-inline: 1rem;
   padding-block: 0.5rem;
   border-radius: 5px;
   background-color: #3E8F62;
   color: white; 
  }
  .preview:hover{
   background-color: #516173;

  }
  .submit:hover{
    background-color: #4aba7c;
 
   }
   .preview:active{
    background-color: #333f4d;
 
   }
   .submit:active{
     background-color: #326549;
  
    }
    .addChoice{
        background-color: transparent;
        width: 5rem;
        color: white;
        text-decoration: underline;
    }
  
